html {
  background-color: gray;
}
#game {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#game-board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border: 1px solid black;
  text-align: center;
  width: 300px;
}

.player {

}

.square {
  width: 100px;
  height: 100px;
  outline: 1px solid black;
  line-height: 100px;
  text-align: center;
  font-size: 80px;
  font-weight: bold;
}